{% extends 'first_app/base.html' %}
{% block body_block %}

    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Go Back</a>
    <br><br>
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ISBN : {{ object.isbn }} </li>
                <li class="list-group-item">Author : {{ object.authors }} </li>
                <li class="list-group-item">Price : ${{ object.price }}</li>
                <li class="list-group-item">Publication Date : {{ object.publication_date }} </li>
                <li class="list-group-item">Available Books : {{ object.quantity }}</li>
            </ul>
        </div>
        {% if object.seller == user %}
            <h5 class="card-header">Seller : {{ object.seller.first_name }}</h5>
            <div class="card-body">
                <a href="{% url 'book_update' object.id %}" class="card-link">Update</a>
                <a href="{% url 'book_delete' object.id %}" class="text-danger card-link ">Delete</a>
            </div>
        {% else %}
            <h5 class="card-header">Seller : {{ object.seller.first_name }}</h5>
            <div class="card-body">
                <a href="{{ object.get_add_to_cart_url }}" class="card-link btn btn-success">Add To Cart</a>
            </div>
        {% endif %}

        {% if object %}

        {% endif %}

    </div>
{% endblock %}