{% extends "first_app/base.html" %}

{% block body_block %}

    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Item Price</th>
                </tr>
                </thead>
                <tbody>
                {% for book in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ book.item.title }}</td>
                        <td>{{ book.item.price }}</td>
                        <td>
                            <a href="{% url 'remove-single-item-from-cart' book.item.pk %}"><i
                                    class='bx bx-minus-circle' style='color:#d01820'></i></a>
                            {{ book.quantity }}
                            <a href="{% url 'add-to-cart' book.item.pk %}"><i class='bx bx-plus-circle'
                                                                                    style='color:#46e51b'></i></a>
                        </td>
                        <td>
                            ${{ book.get_total_item_price }}
                            <a style='color: red;' href="{% url 'remove-from-cart' book.item.pk %}">
                                <i class='bx bxs-x-square' style='color:#e51604;'  ></i></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan='5'>Your cart is empty</td>s
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-primary float-right' href='{% url 'books' %}'>Continue shopping</a>
                        </td>
                    </tr>
                {% endfor %}

                {% if object.get_total %}
                    <tr>
                        <td colspan="4"><b>Order Total</b></td>
                        <td><b>${{ object.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-warning float-right ml-2' href='/'>Proceed to checkout</a>
                            <a class='btn btn-primary float-right' href='{% url 'books' %}'>Continue shopping</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock body_block %}