{% extends 'first_app/base.html' %}
{% block body_block %}
    <h1>Reset Password</h1>

    <div class="jumbotron">

        {% if msg %}
            <li>
                <ol>{{ msg }}</ol>
            </li>
            {% else %}
            {{ " " }}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

    </div>
{% endblock %}